html {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
}

body {
	background-color: #2c8dd1;
	color: #fffffe;
}


.glyphicon-heart, .glyphicon-heart-empty {
	font-size: 8em;
	color: red;
}

.glyphicon-ok {
	font-size: 6em;
	color: green;
}

.ion-trophy {
	font-size: 6em;
	color: gold;
}

.ion-information-circled {
	font-size: 4em;
	color: white;
}

.ion-beer {
	font-size: 6em;
	color: brown;
}

.ion-android-settings {
	font-size: 6em;
	color:black;
}

.glyphicon-remove {
	font-size: 6em;
	color: red;
}

.glyphicon.glyphicon-hourglass.gametime {
	font-size: 6em;
}

.scoreIcons {
	font-size: 2em;
}

#teamText {
	font-size: 80px;
	color: #fffffe;
	text-align: center;
}

#teamNames {
	text-align: center;
	color: #fffffe;
	font-size: 50px;
}

.ng-invalid.ng-dirty {
  border-color: red;
}

.ng-valid.ng-dirty {
  border-color: green;
}

#question, #title {
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	color: #fffffe;
	text-align: center;
}

#title {
	font-size: 3em;
}

#question {
	font-size: 40px;
}

.text {
	color: #fffffe;
}

.button {
	margin-top: 20px;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 30px;
	background-color: #e99d2e;
	color: #fffffe;
	border-color: #b87e2b;
	text-align: center;
	border-radius: 30px;
	border-style: solid;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.button:active {
	background-color: #b87e2b;
	border-color: #e99d2e;
	-webkit-transform: scale3d(0.9, 0.9, 1);
	-moz-transform: scale3d(0.9, 0.9, 1);
	-o-transform: scale3d(0.9, 0.9, 1);
}


.srefTest {
	background-color: #b87e2b;
	border-color: #e99d2e;
}
.nav.nav-pills > li.active > a,
.nav-pills > li.active > a:hover
.nav-pills > li.active > a:focus {
	font-family: Impact, Charcoal, sans-serif;
	border-radius: 30px;
	border-style: solid;
	background-color: #b87e2b;
	border-color: #e99d2e;
	
}

.nav.nav-pills > li > a,
.nav-pills > li > a:hover
.nav-pills > li > a:focus {
	font-family: Impact, Charcoal, sans-serif;
	border-radius: 30px;
	border-style: solid;
	background-color: #e99d2e;
	border-color: #b87e2b;
	color: #fffffe;
}

.menu {
	//width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#photo {
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#999999));
  	background-image: -webkit-linear-gradient(top, #ffffff, #999999);
  	background-image:    -moz-linear-gradient(top, #ffffff, #999999);
  	background-image:      -o-linear-gradient(top, #ffffff, #999999);
  	background-image:         linear-gradient(to bottom, #ffffff, #999999);
	
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.39);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.39);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.39);

	margin-left: auto;
	margin-right: auto;

	height: 495px;
	width: 370px;
}

.pic {
	display: block;
	
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
}

#back {
	font-size: 4em;
	color: #fffffe;
}

.top-buffer { 
	margin-top: 50px; 
}

.wrong {
	background-color: red;
}

.right {
	background-color: #e99d2e;
}

.loseTime {
	font-size: 4em;
}

.loseTime.loseTimeAnim {
	font-size: 4em;
	color: red;
	-moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-name: slideout;
    -webkit-animation-name: slideout;
}


@-moz-keyframes slideout {
	from {
    	left:0%; 
    }
      
    to {
    	left:200%;
    }
}
    
@-webkit-keyframes slideout {
	from {
    	left:0%; 
    }
      
    to {
    	left:200%;
    }
}

.gameView {
	overflow: hidden;
}

.stats {
	margin-left: auto;
	margin-right: auto;
}

.modal-title {
	color: black;
}

.modal-body {
	color: black;
 }

 .fixed {
    position: fixed;
}

.miscButton {
	background-color: #e99d2e;
	border-color: #b87e2b;
	color: #fffffe;
}

.miscButton:active {
	background-color: #b87e2b;
	border-color: #e99d2e;
}

.miscButton.active {
	background-color: #b87e2b;
	border-color: #e99d2e;
}

.miscButton:hover {
	color: #fffffe;
}