<!--<h1>About Know Your Colleague</h1>

<p>Is there some people in your company that you haven't had a chance to get to know? Do you ever wonder if some of your colleagues has same interests or hobbies as you and would want to go together? Are you sometimes lost on who to ask help from when facing different kinds of problems? If you answered any of these yes or just want to know a little bit more about your colleagues then <i>Know Your Colleague</i> is a game for you!</p>

<p><i>Know Your Colleague</i> helps people in companies to get to know each other better. By playing different game modes and answering questions you can find out new things about your colleagues. You can play on your own or even challenge a coworker to see who knows their colleagues better!</p>

<hr />

<h2>Game Modes</h2> -->
<h1 class="text">Game Rules</h1>

<h3><p class="text">Know Your Colleague is a quiz game about your colleagues. There is a picture and a question about the person in the picture. You need to choose the correct answer among 4 different choises. When you answer correctly you get a point and can move to next question. There are different game modes to choose from. Here are the rules for each.</p></h3>

<hr />

<h2 class="text">Quick Match</h2>

<h3><p class="text">In Quick Match You have total of 3 lives and if you run out of them the game ends. If you answer wrong you lose one life. The more points you get the higher your score is.</p></h3>

<h2 class="text">Time Attack</h2>

<h3><p class="text">In Time Attack you have to answer as many questions correct as you can in the given time. Once the time runs out the game will end and your score will be counted. For every wrong answer you lose 2 seconds from your time.</p></h3>

<h2 class="text">Sudden Death</h2>

<h3><p class="text">You only have one life so one wrong answer is enough to end the game. The highest streak wins!</p></h3>

<hr />

<!-- <h3>2 Player Battle</h3>

<p>Battle with your friend who knows their colleagues better.</p>

<hr />

<h2>Add information</h2>

<p>Want to add more information about yourself? You can! Just hit the "add question" button and you can add a new question to the game.</p> -->