<h4>Select user to add the question for and input a question with at least two answers.</h4>
<form novalidate name="addQuestionForm" ng-submit="addQuestionForm.$valid && postQuestion()"> <!-- ...form.$valied && ...-->
	<div class="form-group">
		<label for="user">Select user</label>
		<div class="dropdown">	
		<select class="btn btn-default" ng-model="q.userId">
			<option ng-repeat="user in users" value="{{user._id}}">{{user.fname + " " + user.lname}}</option>
		</select>
		</div>
		User id: {{q.userId}}
	</div>
	
	<div class="form-group">
		<label for="question">Question</label>
		<input type="text" class="form-control" name="question" id="ownQuestion" placeholder="Enter question" ng-model="q.question" required></input>
		<span style="color:red" ng-show="addQuestionForm.question.$dirty && addQuestionForm.question.$invalid">
			<span ng-show="addQuestionForm.question.$error.required">Question is required!</span>
		</span>
	</div>

	<div class="form-group">
		<label for="answer">Correct answer</label>
		<input type="text" class="form-control" name="answer" placeholder="Enter answer" ng-model="q.answer" required></input>
		<span style="color:red" ng-show="addQuestionForm.answer.$dirty && addQuestionForm.answer.$invalid">
			<span ng-show="addQuestionForm.answer.$error.required">Correct answer is required!</span>
		</span>
	</div>

	<div class="form-group">
		<label for="answer-sec">Secondary answer</label>
		<input type="text" class="form-control" name="answersec" placeholder="Enter secondary answer" ng-model="q.secondary" required></input>
		<span style="color:red" ng-show="addQuestionForm.answersec.$dirty && addQuestionForm.answersec.$invalid">
			<span ng-show="addQuestionForm.answersec.$error.required">Secondary answer is required!</span>
		</span>
	</div>
	<div class="form-group">
		<label for="answer-opt">Optional answer</label>
		<input type="text" class="form-control" id="answer-opt" placeholder="Enter optional answer" ng-model="q.optional1"></input>
	</div>
	<div class="form-group">
		<label for="answer-opt">Optional answer</label>
		<input type="text" class="form-control" id="answer-opt" placeholder="Enter optional answer" ng-model="q.optional2"></input>
	</div>
	 <button type="submit" class="btn btn-default" ng-disabled="!addQuestionForm.$valid">Submit</button>
	<div> Form is {{addQuestionForm.$valid}} </div>
	
</form>
