<style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>
<div class="row">
<h1> Custom Game setup</h1>

	<h4>Game type:</h4>
	<div class="btn-group">
		<label class="miscButton btn btn-lg" ng-model="radioModel" btn-radio=0>Quick Play</label>
		<label class="miscButton btn btn-lg" ng-model="radioModel" btn-radio=1>Time Attack</label>
		<label class="miscButton btn btn-lg" ng-model="radioModel" btn-radio=2>Sudden Death</label>
	</div>
</div>

<div class="row">
	<h4>Include questions from:</h4>
	<div class="btn-group">
	    <label class="miscButton btn btn-lg" ng-model="checkModel[0]" btn-checkbox>Face</label>
	    <label class="miscButton btn btn-lg" ng-model="checkModel[1]" ng-disabled="true" btn-checkbox>General</label>
	    <label class="miscButton btn btn-lg" ng-model="checkModel[2]" btn-checkbox>User made</label>
	</div>
</div>

<div class="row">
	<div class="row">
	<div class="col-sm-4">
		<h4>Filter users by start date</h4>
            <p class="input-group">
             <input type="text" class="form-control" datepicker-popup='dd.MM.yyyy' init-date="minDate" ng-model="dt" is-open="opened"  ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
    	</div>   
	</div>
</div>
<div class="row col-sm-offset-2">
	<label class="miscButton btn btn-lg col-sm-2" ui-sref="ownQuiz" ng-click="start()">Start</label>
</div>