<h1 class="text">Game over, man. Game over!</h1>

<h2><p class="text" ng-if="gameMode != 1">You correctly answered {{gameScores.points}} times in {{gameScores.time/1000 | number:0}} seconds.</p>
<p class="text" ng-if="gameMode == 1">You correctly answered {{gameScores.points}} times.</p>
</h2> <!--<p ng-if="hs == 0"> You need at least {{minScore}} points in {{minTime/1000}} s for a high score.</p>
<div ng-if="hs == 1">and got a high score!
</div>-->

<div class="row" ng-show="isCustom == false">
	<form ng-submit="postScores()" class="col-sm-6">
		<h2 class="text">Enter your name for high scores:</h2>
		<div class="input-group">
	      <div class="input-group-btn">
			<input type="text" class="form-control" placeholder="Name" ng-model="user.name"></input>
			<input type="submit" value="Submit" class="miscButton btn btn-md"></input>
			</div>
			</div>
	</form>
</div>

<div class="row col-sm-10" ng-show="isCustom == true">
	<h2><p class="text">You can't post scores in a custom game.</p></h2>
</div>