<div oncontextmenu="return false" ondragstart="return false" 
onselectstart="return false" class="row" ng-controller="mainController">

	<div class="row">
		<h1 id="title" ui-sref="team">KNOW YOUR COLLEAGUE</h1>
		<!-- <a id="answerButton" ui-sref="quiz" ng-click="game(0)">Quiz</a> -->

		<div class="row col-sm-offset-4">
			<h3 class="button btn-lg menu col-sm-6" ui-sref="ownQuiz" ng-click="game(0)">QUICK PLAY</h3>
			<span class="icon ion-information-circled col-sm-1" ng-click="open(0)"></span>
		</div>

		<div class="row col-sm-offset-4">
			<h3 class="button btn-lg menu col-sm-6" ui-sref="ownQuiz" ng-click="game(1)">TIME ATTACK</h3>
			<span class="icon ion-information-circled col-sm-1" ng-click="open(1)"></span>
		</div>

		<div class="row col-sm-offset-4">
			<h3 class="button btn-lg menu col-sm-6" ui-sref="ownQuiz" ng-click="game(2)">SUDDEN DEATH</h3>
			<span class="icon ion-information-circled col-sm-1" ng-click="open(2)"></span>
		</div>

		<div class="row col-sm-offset-4">
			<h3 class="button btn-lg menu col-sm-6" ui-sref="customGame">CUSTOM GAME</h3>
		</div>

		<div class="row col-sm-offset-1">
			<span class="icon ion-trophy col-sm-1 col-sm-offset-3" ui-sref="scores" ng-click="game(0)"></span>
			<span class="icon ion-android-settings col-sm-1 col-sm-push-1"></span>
			<span class="icon ion-information-circled col-sm-1 col-sm-push-2" ng-click="open(3)"></span>
		</div>
	</div>

	<!-- Modals content -->
	<script type="text/ng-template" id="quickGameModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Quick Play!</h3>
        </div>
        <div class="modal-body">
            
            In <i><b>Quick Play</b></i> you have total of 3 lives and if you run out of them the game ends. If you answer wrong you lose one life. For each correct answer you get a point. The more points you get the higher your score is.
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>

    <script type="text/ng-template" id="timeAttackModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Time Attack!</h3>
        </div>
        <div class="modal-body">
            
            In <i><b>Time Attack</b></i> you have to answer as many questions correct as you can in the given time. Once the time runs out the game will end and your score will be counted. For every wrong answer you lose <b>2 seconds</b> from your time.
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>

    <script type="text/ng-template" id="suddenDeathModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Sudden Death!</h3>
        </div>
        <div class="modal-body">
            
            In <i><b>Sudden Death</b></i> you only have one life so one wrong answer is enough to end the game. The highest streak wins!
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>

    <script type="text/ng-template" id="generalInformationModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Know Your Colleague!</h3>
        </div>
        <div class="modal-body">
            <b><i>Know Your Colleague</i></b> is a quiz game about your colleagues. There is a picture and a question about the person in the picture. You need to choose the correct answer among 4 different choises. When you answer correctly you get a point and can move to next question. There are different game modes to choose from with different styles of games.
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>
</div>
