<div class="row gameView" ng-if="answers.length > 0">
	
	<div id="photo" class="col-md-2">
		<img ng-src="{{questions[currentIndex].user}}" class="pic" width="300" height="450" />
	</div>

	<h1 id="question">{{questions[currentIndex].question}}</h1>

	<div class="col-md-8">

		<h3 ng-show="questions[currentIndex].type == 1" class="button btn-lg" ng-class="{'wrong' : questions[currentIndex].incorrect[$index] == 1, 'right' : questions[currentIndex].incorrect[$index] == 0}" ng-repeat="opt in questions[currentIndex].answers track by $index" ng-click="selectOption(false,questions[currentIndex].id,opt.id, $index)">{{opt.name}}</h3>   
			
		<h3 ng-show="questions[currentIndex].type == 2" id="button" class="button btn-lg" ng-class="{'wrong' : questions[currentIndex].incorrect[$index] == 1, 'right' : questions[currentIndex].incorrect[$index] == 0}" ng-click="selectOption(option.correct,0,1,$index);" ng-repeat="option in questions[currentIndex].answers track by $index">{{option.option}}</h3>

	</div>
</div>

<div class="row">
	<!-- display current lives -->
	<div class="col-md-4 lives" ng-if="gameType != 1">	
		<p class="glyphicon glyphicon-heart" ng-show="lives >= 1"></p>
		<p class="glyphicon glyphicon-heart" ng-show="lives >= 2"></p>
		<p class="glyphicon glyphicon-heart" ng-show="lives == 3"></p>

		<p class="glyphicon glyphicon-heart-empty" ng-show="lives < 2"></p>
		<p class="glyphicon glyphicon-heart-empty" ng-show="lives < 3"></p>
	</div>

	<!-- Empty div for Time Attack, so answers & time stay on their position -->
	<div class="col-md-4" ng-if="gameType == 1"></div>

	<div class="col-md-8">
		<p class="glyphicon glyphicon-ok">{{correctAnswers}}</p>
		<p class="glyphicon glyphicon-remove col-md-offset-1">{{incorrectAnswers}}</p>
		<p ng-if="gameType != 1" class="glyphicon glyphicon-hourglass gametime col-md-offset-1"><timer max-time-unit="'second'" auto-start="false">{{seconds}}</timer></p>
		<p ng-if="gameType == 1" class="glyphicon glyphicon-hourglass gametime col-md-offset-1"><timer max-time-unit="'second'" countdown="60" interval="1000" finish-callback="done()" auto-start="false">{{seconds}}</timer></p>
		<p ng-if="gameType == 1" ng-show="timeLost" class="glyphicon loseTime" ng-class="{'loseTimeAnim' : timeLost}">-2</p>
	</div>
</div>
<!--
ng-class="{'wrong' : questions[currentIndex].incorrect[$index] == 1, 'right' : questions[currentIndex].incorrect[$index] == 0}"
-->