<h3 class="row">Import</h3>

<div class="row">
	<input class="col-sm-4 btn btn-default" type="file" ng-model="file" id="file" onchange="angular.element(this).scope().setFiles(this)" />
	<label class="col-sm-1">Has header? </label><input class="col-sm-1 " type="checkbox" ng-model="hasHeader">
	<form name="Form">
		<label>
			<input type="radio" ng-model="sex.s" value="male">
			Male
		</label>
		<label>
			<input type="radio" ng-model="sex.s" value="female">
			Female
		</label>
	</form>
</div>

<!--
<div class="row">
	<input type="text" class="col-sm-4"  name="remote" placeholder="remote CSV" ng-model="remote">
</div>
-->
<div class="row">
	<button class="col-sm-4 btn btn-primary" ng-click="parse()">Parse</button>
</div>
<div class="row">	
	<pagination
		ng-model="currentPage"
	  	total-items="totalItems"
	  	items-per-page="itemsPerPage" 
	  	boundary-links="true"
	  	max-size=5>
	</pagination>
</div>
<div ng-if="totalItems > 0">
	<table class="table" ng-if="totalItems > 0">
		<thead>
			<tr>
				<!-- use filter to ng-repeat parsed[0].length + 1 times, so every column gets a dropdown -->
				<th ng-repeat="e in parsed[0] | range:parsed[0]">
					<input type="checkbox" ng-model="allEntries" ng-if="$index == 0">
					<span ng-if="$index == 1">Photo</span>
					<select ng-if="$index > 1" ng-options="value for value in values" class="btn btn-default p" ng-model="value" value="value" ng-change="getVal(($index-1), value)"></select>
		    	</th>
	    	</tr>
		</thead>
		
		<tbody>
			<tr ng-repeat="p in paginated" ng-hide="p.added" ng-class="{'btn-success' : isChecked($index, currentPage)}" ng-click="checkedBoxes($index, true, currentPage)">
				<td><input type="checkbox" ng-model="checked" ng-checked="isChecked($index, currentPage)" ng-click="checkedBoxes($index, true, currentPage)"></td>
				<!-- p[0] is the name of the person -->
				<td><img src="{{getPhoto(p[0])}}" alt="Photo missing" width="100" height="150"/></td>
				<td ng-repeat="x in p">{{x}}</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="row">
	<button class="btn btn-success col-sm-1" ng-click="add()">Add</button>
	<div class="input-group">
		<span class="input-group-addon">
    		<input type="checkbox" ng-model="confirmSubmit">
      	</span>
      	<input type="submit" value="Submit" ng-disabled="!confirmSubmit" class="btn btn-danger" ng-click="submitToDb()">
	</div><!-- /input-group -->
	
	<pagination
		ng-model="currentPage"
	  	total-items="totalItems"
	  	items-per-page="itemsPerPage" 
	  	boundary-links="true"
	  	max-size=5>
	</pagination>
</div>
	




