<div class="main">
	<div class="row" ng-if="answers.length > 0">
		
		<div class="col-md-4">
			<img ng-src="images/{{currentUser}}.png" alt="" class="img-rounded"></img>
		</div>
	
		<div class="col-md-8">
			
			<h1>{{getQText(answers[currentIndex].question, answers[currentIndex].user)}}</h1>   
			
			 <h3 ng-class="{'btn-primary' : row.incorrect == 0, 'btn-danger' : row.incorrect  == 1}" ng-click="selectOption(answers[currentIndex].answer, row.answer);" ng-repeat="row in getOptions(answers[currentIndex].question, answers[currentIndex].answer) track by $index">{{row.answer}}</h3>
			<input ng-show="getIndex() > 0" class="btn btn-primary" type="button" value="Previous" ng-click="decrement()"></input>
			<input class="btn btn-primary" ng-show="getIndex() < answers.length" type="button" value="Next" ng-click="increment()"></input>           
		</div>
	</div>

		<!-- display current lives -->
		<div class="col-sm-4" ng-show="lives > 0">
			<p class="glyphicon glyphicon-heart" ng-show="lives >= 1"></p>
			<p class="glyphicon glyphicon-heart" ng-show="lives >= 2"></p>
			<p class="glyphicon glyphicon-heart" ng-show="lives == 3"></p>

			<p class="glyphicon glyphicon-heart-empty" ng-show="lives < 2"></p>
			<p class="glyphicon glyphicon-heart-empty" ng-show="lives < 3"></p>
		</div>
		<!-- timer for quiz & streak -->
		<h3><timer autostart="false"/></h3>
		<h3>Correct answers: {{points}}</h3>
		<!-- Display a timer for Time Attack -->
		<div class="col-sm-4" ng-if="lives == -1">
			Time Remaining: <timer countdown="60" interval="1000">{{seconds}} second{{secondsS}}</timer>
		</div>
</div>