<div class="text">

<div class="row">
  <h1>HIGH SCORES</h1>
  <label>Gametype:</label> 
  <select ng-options="mode for mode in gameModes" class="btn btn-default pg" ng-model="mode" ng-change="gameType(gameModes.indexOf(mode))"></select>
    <hr />
  </div>
<div class="row">
<tabset justified="true" type="pills" ng-model="tab">
    <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" ng-click="tabChange($index)"></tab>
</tabset>
</div>
<div class="row">
    <table class="table">
      <thead>
        <tr>
          <th class="col-md-1"><span class="glyphicon glyphicon-flag scoreIcons"></span></th>
          <th class="col-md-3"><span class="glyphicon glyphicon-user scoreIcons"></span></th>
          <th class="col-md-1"><span class="glyphicon glyphicon-star scoreIcons"></span></th>
          <th class="col-md-1"><span class="glyphicon glyphicon-hourglass scoreIcons"></span></th>
          <th class="col-md-1"><span class="glyphicon glyphicon-calendar scoreIcons"></span></th>
        </tr>
      </thead>
      <tbody>
        <!-- timespan is the custom filter for weekly & monthly scores. -->
        <!-- Scores are ordered by descending points and ascending time & limited to 10 entries -->
        <tr ng-repeat="score in scores | timespan:tab | orderBy:['-points','time'] | limitTo:10"> 
          <td>{{$index+1}}</td>
          <td>{{score.name}}</td>
          <td>{{score.points}}</td>
          <td ng-if="gameMode == 1">-</td>
          <td ng-if="gameMode != 1">{{score.time/1000 | number:0}}</td>
          <td>{{score.date | date}}</td>
        </tr>
      
      <!--
        <tr>
          <form name="myForm">
          <td><input class="form-control" placeholder="Name" ng-model="user.name"></td>
          <td><input class="form-control" placeholder="Points" ng-model="user.points"></td>
          <td><input class="form-control" placeholder="Time" ng-model="user.time"></td>
          <td><input class="form-control" placeholder="Type" ng-model="user.type"></td>
        </form>
          <td><button class="btn btn-primary" ng-click="postScores()">Add</button></td>
        </tr>
        -->
      </tbody>
    </table>
    </div>
</div>